@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-bg-color: #a9a7a7;
    --aside-bg-color: #a2a2a2;
    --nav-hover-bg: #000065;
    --log-out-bg: #542004;
    --hr-color: #7b777776;
    --logout-shadow: #000000b5;
    --black-color: #000000;
    --white-color: #ffffff;
    --hover-text-color: #a9a7a7;
    --header-text: #000065;
    --responds-color: #025702;
    --buttons-bg: #008000;
    --display-bg: #a1a1a1;
    --aside-res-bg: #919191;
    --pure-white: white;
    --pure-black: black;
    --popup-set-bg: #6c6565f5;
    --edit-task: #6e736e;
}
.dark-theme{
    --body-bg-color: #000000;
    --aside-bg-color: #3d0000;
    --nav-hover-bg: #950101;
    --log-out-bg: #ff0000;
    --hr-color: #46e4d776;
    --logout-shadow: #d3bbbbb5;
    --black-color: #ffffff;
    --white-color: #000000;
    --hover-text-color: #ffffff;
    --header-text: #ffffff;
    --responds-color: #025702;
    --buttons-bg: #950101;
    --display-bg: #370202;
    --aside-res-bg: #310202;
    --pure-white: white;
    --pure-black: black;
    --popup-set-bg: #5c0202d7;
    --edit-task: #042904;
}
body{
    background: var(--body-bg-color);
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    position: fixed;
    display: flex;
    align-items: start;
}
aside{
    width: 20%;
    height: 100%;
    background: var(--aside-bg-color);
    z-index: -9;
    position: relative;
}
.close-menu{
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.aside-container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}
.aside-header{
    width: 100%;
}

.aside-header .title-container h1{
    text-align: center;
    width: 100%;
    font: 600 30px 'poppins';
    letter-spacing: 1px;
    color: var(--header-text);
}
.aside-container nav{
    width: 75%;
    margin: 0 auto;
}
.aside-container nav ul{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
    list-style: none;
}
.aside-container nav ul li{
    list-style: none;
}
.aside-container nav ul li a{
    color: var(--black-color);
    text-decoration: none;
    font: 500 18px 'mulish';
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s ease-in-out;
}
.aside-container nav ul li a:hover{
    background: var(--nav-hover-bg);
    color: var(--hover-text-color);
    padding: 8px 12px;
    border-radius: 6px;
}
.aside-container nav ul li .active{
    background: var(--nav-hover-bg);
    color: var(--hover-text-color);
    padding: 8px 12px;
    border-radius: 6px;
}
.logout-container{
    width: 70%;
    margin: 0 auto;
}
.logout-container button{
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font: 400 18px 'mulish';
    letter-spacing: 1px;
    background: var(--log-out-bg);
    color: var(--hover-text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logout-container button:hover{
    transform: translateX(5px);
    box-shadow: 0px 1px 30px var(--logout-shadow);
}
hr{
    border: 1px solid var(--hr-color);
    margin-top: 40px;
}
footer{
    width: 100%;
}
footer p{
    font: 300 12px 'mulish';
    text-align: center;
    margin-top: 20px;
    color: var(--black-color);
}
main{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
header{
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
header .menu-icon{
    float: left;
    display: none;
}
header .todo-header-text{
    text-align: center;
    width: 100%;
    font: 600 30px 'poppins';
    letter-spacing: 1px;
    color: var(--header-text);
    display: none;
}
.todo-container{
    width: 60%;
    height: 90%;
    background: var(--aside-bg-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 0px auto 0;
}
.todo-container h2{
    padding: 30px 0 20px;
    font: 600 40px 'mulish';
    color: var(--black-color);
    letter-spacing: 1px;
}
.todo-item{
    width: 70%;
    margin: 0 auto;
}
.todo-item input{
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font: 400 18px 'mulish';
    border: none;
    outline: none;
    border-radius: 6px;
}
.todo-item input::placeholder{
    color: var(--black-color);
}
.responds{
    text-align: center;
    margin-top: 20px;
    font: 400 20px 'poppins';
    color: var(--responds-color);
    transition: opacity 0.3s ease-in-out;
}
.hidden {
    display: none;
}
.todo-item .button-container{
    width: 90%;
    height: 40px;
    margin: 10px auto 0;
}
.todo-item button{
    width: 100%;
    height: 100%;
    font: 500 18px 'mulish';
    border: none;
    border-radius: 6px;
    background: var(--buttons-bg);
    color: var(--pure-white);
    cursor: pointer;
}
.display-container{
    width: 100%;
    max-height: 270px;
    height: 100%;
    background: var(--display-bg);
    overflow: hidden;
}
.display-todo{
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
}
.display-todo::-webkit-scrollbar{
    display: none;
}

.display-task-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-test-container{
    width: 70%;
}
.delete-task-container{
    width: 30%;
}
.display-task-container span{
    font: 500 20px 'mulish';
    margin-top: 20px;
}
.display-task-container button{
    width: 20px;
}
.todo-items li{
    list-style: none;
    width: 100%;
}
.todo-items{
    border: 1px solid var(--black-color);
    width: 100%;
}

.edit-task-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--popup-set-bg);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.edit-task-container.active{
    display: flex;
}
.edit-task{
    width: 30%;
    height: auto;
    background: var(--edit-task);
    position: relative;
    padding: 20px;
    border-radius: 6px;
}
.close-new-task{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.edit-task h2{
    padding: 10px 0 0px;
    text-align: center;
    font: 600 30px 'mulish';
    color: var(--black-color);
}
.edit-task p{
    text-align: center;
    font: 500 22px 'mulish';
    padding-bottom: 30px;
    color: var(--black-color);
}
.edit-task label{
    font: 500 20px 'mulish'
}
.edit-task input{
    margin: 5px 0 10px;
}
.edit-task-btn{
    width: 30%;
    height: 40px;
}
.task-details-list{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 10px 0;
}
.task-name-container{
    width: 60%;
    height: 100%;
    padding: 0 5px; 
    border: 1px solid var(--hr-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.task-name-container span{
    font: 500 18px 'mulish';
    width: 100%;
    color: var(--black-color);
}
.task-details-list-button{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.task-details-list-button button{
    font: 500 16px 'mulish';
    width: 100%;
    height: 100%;
}
.task-details-list-button button:nth-child(2){
    background: red;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    aside {
        width: 40%;
        background: var(--aside-res-bg);
        position: fixed;
        left: -1200px;
        z-index: 1;
        transition: left 0.3s ease-in-out;
    }
    aside.active{
        left: 0;
    }
    main {
        width: 100%;
        justify-content: start;
    }
    header .menu-icon{
        width: 40px;
        background: white;
        display: block;
        margin-left: 5px;
    }
    .close-menu{
        display: block;
        width: 60px;
        background: white;
    }
    .aside-header .title-container h1{
        font-size: 25px;
    }
    .aside-container nav ul {
        gap: 40px;
    }
    .aside-container nav ul li a {
       font-size: 18px;
       letter-spacing: 1px;
    }
    
 
    .logout-container button {
       font-size: 18px;
    }
    header {
        width: 100%;
    }
    header .todo-header-text{
        display: block;
        font-size: 25px;
    }
    .todo-container {
        width: 80%;
        height: 90%;
        border-radius: 0;
        margin-top: 10px;
    }
    .todo-container h2 {
        padding: 10px 0;
        font-size: 25px;
    }
    .todo-item {
        width: 90%;
    }
    .todo-item button {
        font-size: 20px;
    }
    .edit-task {
        width: 60%;
    }
    .display-container {
        max-height: 500px;
    }
    .todo-item .button-container {
        height: 50px;
       padding-bottom: 10px;
    }
    .task-details-list{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin: 10px 0;
    }
    .task-name-container{
        width: 60%;
        height: 100%;
        padding: 0 5px; 
        border: 1px solid var(--hr-color);
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .task-name-container span{
        font: 500 18px 'mulish';
        width: 100%;
    }
    .task-details-list-button{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .task-details-list-button button{
        font: 500 16px 'mulish';
        width: 100%;
        height: 100%;
    }
    .task-details-list-button button:nth-child(2){
        background: red;
    }
}


@media screen and (max-width: 767px) {
    aside {
        width: 100%;
        background: var(--aside-res-bg);
        position: fixed;
        left: -900px;
        z-index: 1;
        transition: left 0.3s ease-in-out;
    }
    aside.active{
        left: 0;
    }
    main {
        width: 100%;
        justify-content: start;
    }
    header .menu-icon{
        width: 40px;
        background: white;
        display: block;
        margin-left: 5px;
    }
    .close-menu{
        display: block;
        width: 60px;
        background: white;
    }
    .aside-header .title-container h1{
        font-size: 25px;
    }
    .aside-container nav ul {
        gap: 40px;
    }
    .aside-container nav ul li a {
       font-size: 18px;
       letter-spacing: 1px;
    }
    
 
    .logout-container button {
       font-size: 18px;
    }
    header {
        width: 100%;
    }
    header .todo-header-text{
        display: block;
        font-size: 25px;
    }
    .todo-container {
        width: 100%;
        height: 90%;
        border-radius: 0;
        margin-top: 10px;
    }
    .todo-container h2 {
        padding: 10px 0;
        font-size: 25px;
    }
    .todo-item {
        width: 90%;
    }
    .todo-item button {
        font-size: 20px;
    }
    .edit-task {
        width: 90%;
    }
    .display-container {
        max-height: 500px;
    }
    .todo-item .button-container {
        height: 50px;
       padding-bottom: 10px;
    }
    .task-details-list{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin: 10px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--hr-color);
    }
    .task-name-container{
        width: 60%;
        height: 100%;
        padding: 0 5px; 
        border: 1px solid var(--hr-color);
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .task-name-container span{
        font: 500 18px 'mulish';
        width: 100%;
    }
    .task-details-list-button{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
    .task-details-list-button button{
        font: 500 16px 'mulish';
        width: 100%;
        height: 100%;
    }
    .task-details-list-button button:nth-child(2){
        background: red;
    }
}